.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 18%;
}
.TITLE {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40%;
}
.Minuteur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: #ddd;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 0 0 5px 3px #ccc;
}
